* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fec84e;
  }
  
  .not-found {
    margin: 1rem 0;
    color: #000000;
    font-size: 3rem;
    font-weight: normal;
  }
  
  .go-home-link {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 1.5rem;
  }
  
  .arrow {
    margin-right: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .go-home-link:hover .arrow {
    transform: translateX(10px);
  }