* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fec84e;
}

div {
  display: block;
  justify-content: center;
  overflow: hidden;
}

img {
  display: flex;
  max-width: 500px;
  max-height: 550px;
  width: auto;
  height: auto;
}

.error {
  background: #a63446;
  padding: 0.5rem 1rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.create {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: #000000;
  border-bottom: 2px solid #000000;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: #fca311;
}

.input:focus {
  outline: none;
  border-bottom-color: #fca311;
}

.input::placeholder {
  color: #000000;
  opacity: 0.7;
}

.create {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: #262626;
  border: none;
  background-color: #fe534d;
  padding: 0.75em 1.25rem;
  box-shadow: 3px 3px 0 0 #a83733;
  transition: box-shadow 0.2s ease-in-out;
}

.create:hover {
  box-shadow: 0 0 0 0 #000000;
}
.source:hover {
  box-shadow: 0 0 0 0 #000000;
}

.created {
  text-align: center;
  padding-top: 30px;
  font-size: 1.15rem;
  color: #000000;
}

.created a {
  font-weight: bold;
  color: inherit;
}

.thanks {
  text-align: center;
  padding-top: 30px;
  color: #000000;
}
